<div id=<%="#{source}_action_buttons"%> class="action-buttons flex-child-end">
	<div class="js-cancel btn btn-danger"><span class="glyphicon glyphicon-remove"></span></div>
	<%= button_tag type: "submit", class: "js-ok btn btn-success" do %>
		<span class="glyphicon glyphicon-ok"></span>
	<% end %>
</div>