<% if @user.friends.any? %>
	<div class="panel panel-default">
	
    <div class="panel-heading">
    	<p class="panel-title">
				Friends:
			</p>
    </div>

    <ul class="list-group">
			<% @user.friends.each do |friend| %>
			<li id=id="user-<%=friend.id%>" class="list-group-item">
	    	<%= render partial: '/users/user_item', locals: { other_user: friend } %>
	    </li>
    	<% end %>
    </ul>

	</div>
<% end %>