<div id=<%="#{source}_action_buttons"%> class="image-action-buttons">
	<div class="js-cancel btn btn-danger"><span class="glyphicon glyphicon-remove"></span></div>
	<%= button_tag type: "button", class: "js-submit btn btn-success" do %>
		<span class="glyphicon glyphicon-ok"></span>
	<% end %>
</div>